<form action="/{{id}}/delete" method="POST">
<input type="text" name="title" value="{{title}}">
<input type="checkbox" name="delete" value="delete">Delete
<input type="submit">
<input type="reset">
</form>
<hr>
<button>
    <a href="/">Return to List</a>
</button>